# Ignore everything by default
*
*/**

.*
.*/**

!.gitignore
!.editorconfig

!README
!LICENSE
!VERSION

!package.json

!*.js

!tests/
!tests/e2e/
!tests/lib/
!tests/reports/
!tests/units/
!tests/scripts/
!tests/**/*.js
!tests/**/*.ps1
!tests/**/*.sh
